name: devnet-redis

services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "0.0.0.0:6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    networks:
      - devnet

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    ports:
      - "0.0.0.0:5540:5540"
    volumes:
      - redisinsight_data:/data
    depends_on:
      - redis
    networks:
      - devnet

volumes:
  redis-data:
  redisinsight_data:

networks:
  devnet:
    external: true