apiVersion: v1
kind: Service
metadata:
  name: theshop-api
  namespace: {{ .Release.Namespace }}
  labels:
    app: theshop-api
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      {{- if eq .Values.service.type "NodePort" }}
      nodePort: {{ .Values.service.nodePort }}
      {{- end }}
      protocol: TCP
      name: http
  selector:
    app: theshop-api

