apiVersion: v1
kind: Namespace
metadata:
  name: argocd
  labels:
    app.kubernetes.io/part-of: argocd
---
apiVersion: v1
kind: Namespace
metadata:
  name: theshop
  labels:
    app.kubernetes.io/part-of: theshop
